<div class="container mt-5">
    <div *ngIf="errormsg"  class="alert  alert-warning alert-dismissible fade show" role="alert">
        <strong>{{errormsg}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>

      <div *ngIf="successmsg"  class="alert  alert-succes alert-dismissible fade show" role="alert">
        <strong>{{successmsg}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>

    <form [formGroup]="userForm">
        <div class="col-lg-4 mt-2">
    <input type="text" class="form-control" formControlName="name" placeholder="Saisir le produit">
        </div>
        <div class="col-lg-4 mt-2">
            <input type="text" class="form-control" formControlName="description" placeholder="Saisir la description">
                </div>
                <div class="col-lg-4 mt-2">
                    <input type="text" class="form-control" formControlName="price" placeholder="Entrer le prix">
                        </div>
                        <div class="col-lg-4 mt-2">
                            <input type="text" class="form-control" formControlName="quantity" placeholder="Saisir la quantite du produit">
                                </div>
                   <div class="col-lg-4 mt-2" *ngIf="!getparamid" (click)="userSubmit()" >
                       <button class="btn btn-primary btn-sm">Create</button>
                   </div> 
                   <div class="col-lg-4 mt-2" *ngIf="getparamid" (click)="userUpdate()" >
                    <button class="btn btn-dark btn-sm">Update</button>
                </div> 
                
    </form>

</div> 
