
  body  {
    background-color:cornsilk;
    text-align: center;

        
}

a{
  margin-right:2% ;
    margin-left: 2%;
    margin-top: 1%;
}
h1{
  background-color:black;
  text-align: center;
  font-family: fantasy;
  color: white;
  
}
